

<form [formGroup]="loginForm" (ngSubmit)="loadProfile(loginForm)" >
    <!-- [hidden]="hideLoginForm"  -->
 
    <ul class="wrapper">
       <li class="form-row">
          <label for="user-email">Email: </label>
          <input id="user-email" type="email" formControlName="email">
         
       </li>
    </ul>
    <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" style="color:red">
      Email is required.
    </div>
 
    <ul class="wrapper">
       <li class="form-row">
          <label for="user-pwd">Passowrd: </label>
          <input id="user-pwd" type="password" formControlName="password">
          
       </li>
    </ul>
    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" style="color:red">
      Password should be minimum of 6 characters.
    </div>
 
 <div>
   <button type="submit" [disabled]="!loginForm.valid" >Login</button>  
 </div>
 
</form>


<!-- <div class="container">
    <h1> {{userEmail}}</h1>
</div>


<div class="scheduleBody">
<mat-card class="example-card" *ngFor="let singSessionInfo of allSessionInfo">
    <mat-card-title-group>
    <img mat-card-sm-image src="../../assets/images/gym_logo.png" >
    <mat-card-title> {{singSessionInfo.sTitle}}</mat-card-title>
    <mat-card-subtitle>
            {{singSessionInfo.sTrainer}}
          <div>
            {{singSessionInfo.sSlot}}
          </div> 
     </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
     {{singSessionInfo.description}}
     <div *ngIf="!singSessionInfo.sStatus">
        <button mat-raised-button (click)="bookSession(singSessionInfo)">Book</button> &nbsp; &nbsp;  
     </div>  
     <br/>
     <div *ngIf="singSessionInfo.sStatus">
      <button mat-raised-button (click)="cancelSession(singSessionInfo)"> Cancel</button>  
     </div>
    </mat-card-content>
    <br/>
  </mat-card>
</div>
  


<div>

  -->

 -->
