.wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
  }
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    flex: 1;
  }
  .form-row > input {
    flex: 1;
  }


  .example-card {
    max-width: 800px;
    margin-bottom: 20px;
  }

  .scheduleBody{
    align-content: center;
  }
  mat-raised-button
  {
    background-color: aquamarine;
  }


.loginTemplate
{
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
.ScheduleTemplate
{
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 10px;

}
.terminal{
  margin: 20px;
}
.mat-fab
{
  background-color: #3abfa0;
  color: black;
  min-width: 90px;
  margin : 14px
}
.cancelButton
{
  background-color: #24574b;
  color: white;
  
}
.bookButton
{
  background-color: #3abfa0;
  color: black;
  
}

.userIcon
{
  width:250px;
  float: right;
  margin-right:100px;
  margin-top:20px;
  color:black;
}

.mat-tab-group {
  margin-bottom: 100px;
  margin-left: 15px;
}
.userMenuItem{
  background-color: #5fafa2 !important;
  margin-top: 2px;
}
.logInButton
{
  background-color: #5fafa2 !important;;
}
.historyInfo{
 background-color: #5fafa2;
 max-width: 400px;
 float:right
}
.chart
{
  margin: 20px;
}


