.wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
  }
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    flex: 1;
  }
  .form-row > input {
    flex: 1;
  }
/* 
  @media screen and (min-width: 768px) {
    .form-row > input {
     flex: 3;  
}
}
@media screen and (min-width: 992px) {
    .form-row > input {
     flex: 4;  
}
}
@media screen and (min-width: 1200px) {
    .form-row > input {
     flex: 5;  
}
} */

.signUpTemplate
{
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
.signUpButton
{
  background-color: #5fafa2 !important;
}






